body{
    width: 98%;
    background-color: lightpink;
    font-family: 'Varela Round', sans-serif;
}
.container{
    width: auto;
    background-color: rgb(235, 225, 181);
    border-radius: 40px;
    
    
}
.pictureBox{
    box-sizing: border-box;
    text-align: center;
    width: 100%;
    border-radius: 40px 40px 0 0;
}

.addButton{
    display: flex;
    justify-content: center;
    width: 150px;
    font-size: 14px;
    background-color: rgb(247, 247, 129);
    padding: 1%;
    border-radius: 15px;
    border: 0px;
    margin: 0;
}

.info{
    display: flex;
    flex-wrap: wrap;
    margin-left: 10%;
    margin-bottom: 0px;
}
h3{
    margin-bottom: 2px;
    text-align: center;
}

.price{
    text-align: center;
    width: 40px;
    padding: 5px;
    margin: 5%;
   

}
a{
    text-decoration: none;
    font-size: larger;
}