body{
    width: 100%;
    background-color: lightpink;
    font-family: 'Varela Round', sans-serif;
   

}
.navbar{
    margin-bottom: 20px;
    text-align: center;
}
ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: lightyellow;
    border-radius: 45px;
    height: 90px;
    padding: 0;
    
}


li{
    box-sizing: border-box;
    width: 100px;
    height: 35px;
    padding: 9px 6px;
    background-color: rgb(250, 224, 106);
    color: black;
    font-size: 13px;
    border-radius: 25px;
    list-style: none;
}
.logoImg{
    width: 40px;

}
#buttonImage{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 20px;
    width: 180px;
    height: 60px;
    border-radius: 35px;
    font-weight: bold;

   
}
article{
    
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: space-around;
}

.articleBox{
    box-sizing: border-box;
    max-width: 100%;
    padding: 15px 5px 15px 5px;
    background-color: rgb(238, 207, 196);
}