body{
    width: 80%;
    background-color: lightpink;
    font-family: 'Varela Round', sans-serif

}
.navbar{
    display flex;
    text-align: center;
}
ul{
    text-align: center;
}
li{
    display: inline-block;
    width: 100px;
    height: 35px;
    margin: 0;
    background-color: burlywood;
    color: black;
    font-size: 14px;
    border-radius: 18px;
    list-style: none;
}
img{
    width: 80px;

}